.main {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    color: #eee;
    width: 100%;

    .loaded {
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        color: #eee;
        width: 100%;
        margin: auto;
        h2 {
            padding: 0;
            margin-top: 25px;
        }

        @media (max-width: 1919px) {
            width: 95%;
        }
        @media(max-width: 950px) {
            margin-top: 75px;
        }
    }
}

.no-data {
    margin: auto;
    display: flex;
    flex-direction: column;

    .css-ailvj2 {
        margin: auto;
    }
}