.update {
    position: fixed;
    bottom: 25px;
    left: 10px;
    width: 225px;
    background-color: hsl(0, 0, 75%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: black;
    
    .innerupdate {
        width: 90%;
        padding: 15px 15px;
        margin: auto;
    }
    button {
        padding: 10px 10px;
        border: none;
        background-color: #74B800;
        cursor: pointer;
    }
}