.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    transition: background-color .35s ease;
    z-index: 1003;
    display: flex;

}

.buttons {
    margin: auto 10px auto auto;
    display: flex;
    font-size: 32px;
    text-align: center;
    cursor: pointer !important;
    
    & * {
        margin: auto;
    }

}

.show-diag {
    margin: auto auto auto 10px;
    font-size: 33px;
    color: #eee;
    cursor: pointer;
}

.timer-or-viewing {
    display: flex;
    text-align: center;
    margin: auto;

    span {
        color: hsl(0, 0, 85%);
        font-size: 22px;
    }

    @media (max-width: 950px) {
        display: none;
    }
}