.timer-parent {
    display: flex;
    text-align: center;
    margin: auto;

    span {
        color: hsl(0,0,85%);   
        font-size: 22px;
    }

    @media (max-width: 950px) {
        display: none;
    }
}