.featured {
    margin: 0 auto 55px auto;
    display: flex;
    flex-direction: column;
    width: 75%;

    .header {
        display: flex;

        svg {
            margin: auto 25px auto 0;
            font-size: 22px;
            cursor: pointer;
        }

        .title {
            display: flex;
            flex-direction: column;
            h1 {
                margin: 0;
                padding: 0;
            }
        }
    }

    .twitch {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 720px;

        iframe:first-child {
            width: 80%;
            height: 100%;
        }

        .chat {
            height: 100%;
            width: 20%;
            border: none;
        }
    }
}