.stream-card {
    width: 100%;
    height: 100%;
    margin: auto auto 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0, 15%);
    border-radius: 5px;

    .center {
        padding: 15px 15px;
        margin: auto auto 10px auto;

        img {
            border-radius: 50%;
            width: 85px;
            height: 85px;
            cursor: pointer;
        }

        .text-info {
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: 10px;
                font-size: 16px;
                &:first-child {
                    font-size: 22px;
                    font-style: bold;
                }
            }
        }
    }

    a {
        margin: 0 0 10px 0;
        text-decoration: none;
        color: inherit;

        svg {
            width: 35px;
            height: 35px;
            margin: auto;
        }
    }
}