:root {
  --twitchColor: "#6441A5";
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0, 13%);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.update-notification {
  background-color: hsl(0,0, 15%);
  position: fixed;
  bottom: 0;
  right: 0;
  color: #eee;
  text-decoration: none;
  padding: 15px 15px;
  display: flex;
}