    .video {
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        background-color: hsl(0, 0, 20%);

        .sub-video {
            width: 85%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            .video-container {
                height: 100%;
                width: 100%;
                display: flex;

                iframe {
                    height: auto;
                    width: 100%;
                }
            }

            .close-div {
                background-color: rgba(255, 0, 0, .75);
                position: absolute;
                border-radius: 3px;
                top: 0;
                right: 0;
                cursor: pointer;
                padding: 5px 10px 5px 10px;
                z-index: 1005;

                svg {
                    font-size: 46px;

                }

                &:hover {
                    background-color: rgba(255, 0, 0, .9)
                }
            }

            .viewer-count {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                padding: 10px 10px;
                border-radius: 5px;
                text-align: center;
                background-color: transparent;
            }

            @media(max-width: 1000px) {
                width: 100%;
            }
        }
    }

    .chat {
        width: 15%;
        height: 100%;
        position: relative;

        iframe {
            background-color: transparent;
            width: 100%;
            border: none;
        }
    }


    .btn {
        width: 100%;
        color: #eee;
        text-decoration: none;
        text-align: center;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #9147ff;
    }

    .hideme {
        display: none;
    }